@import '../variables.scss';
@import '../mixins.scss';

.main-nav {
  margin-bottom: 315px;
}

@media (max-width: 767px) {
  .main-nav {
    margin-bottom: 100px;
  }
}

@media (max-width: 570px) {
  .main-nav {
    margin-bottom: 50px;
  }
}