@import '../variables.scss';
@import '../mixins.scss';

.social-list {
  @include reset-list;
  display: flex;
}

.social__link {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #666666;
  box-sizing: border-box;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;

  &--facebook {
    margin-right: 14px;
    background-image: url("../../img/icon-fb.png");
  }

  &--instagram {
    background-image: url("../../img/icon_Inst.png");
  }
}

@media (max-width: 500px) {
  .social__link {
    width: 35px;
    height: 35px;
  }
}